<h1>出品商品一覧</h1>
<ul>
  <% @items.each do |item| %> <!--eachでタブで押すと自動で出る -->
    <li><%= link_to item.name, item %></li> <!--#ltタブで出てくる-->
  <% end %>
</ul>
<%= link_to "出品する",new_item_path  %> <!-- new_item_path は /items/newの意味 #http://localhost:3000/rails/info/routes -->